<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.scudderapps.moviesup">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MovieDetailActivity"
            android:parentActivityName=".MainActivity" />

        <activity
            android:name=".PeopleDetailActivity"
            android:parentActivityName=".MovieDetailActivity" />

        <activity
            android:name=".SearchActivity"
            android:parentActivityName=".MainActivity" />

        <activity
            android:name=".DiscoverMovie"
            android:parentActivityName=".MainActivity" />

        <activity
            android:name=".CollectionActivity"
            android:parentActivityName=".MovieDetailActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>